* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background-color: rgb(238, 238, 238);
    height: 100vh;
    width: 100vw;
}


button {
    background-color: rgb(75, 75, 75);
    border-radius: 8px;
    border: none;
    color: rgb(238, 238, 238);
    height: 40px;
    width: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.player-score {
    color: blue;
}

.computer-score {
    color: red;
}

.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.player-choice, .computer-choice, .round-winner {
    font-weight: bold;
    color: rgb(100, 100, 39);
}

